{% if admin.hasAccess('review', object) and admin.hasRoute('review') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
            href="{{ admin.generateObjectUrl('review', object, actions.link_parameters|default([])) }}"
            class="btn btn-sm btn-default edit_link"
            title="{{ 'action_review'|trans({}, 'SonataAdminBundle') }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fas fa-screwdriver" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'action_review'|trans({}, 'SonataAdminBundle') }}
        {% else %}
            <span class="sr-only">
                {{ 'action_review'|trans({}, 'SonataAdminBundle') }}
            </span>
        {% endif %}
    </a>
{% endif %}
