{% extends 'base.html.twig' %}

{% block share_meta %}
    <meta property="og:url" content="{{ url('app_home') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="La Maison Jaune" />
    <meta property="og:description" content="La Maison Jaune. Un site sur le FC Nantes, un média pour informer, pour réunir les fans mais également leur donner la parole" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ '/images/logo-small.png' }}" />
{% endblock %}

{% block ld_json %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ app.request.getSchemeAndHttpHost() }}",
            "sameAs" : [
                "https://twitter.com/La_MaisonJaune",
                "https://www.facebook.com/L.MaisonJaune",
                "https://www.instagram.com/la_maison.jaune"
            ],
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ app.request.getSchemeAndHttpHost() }}/search?&q={query}",
                "query-input": "required name=query"
            }
        }
    </script>
{% endblock %}

{% block content %}
    {% if mainPosts is defined %}
        {# TODO : component('two-post-jumbotron', { posts: mainPosts }) #}
    {% endif %}

    <div class="container">
        {# TODO : component('flash') #}
        <div class="my-3">
            <div class="card-deck flex-column flex-lg-row">
                {# TODO : component('card-poll') #}
                {# TODO : component('card-matchs') #}
                {# TODO : component('card-brief_list') #}
            </div>
        </div>
        <div class="mb-3">
            {# TODO : component('search') #}
        </div>
    </div>

    <div class="container">
        <div class="my-3">
            {# TODO Affichage des articles catégorisé sur la page d'accueil #}
        </div>
    </div>
{% endblock %}