@font-face {
    font-family: 'Gotham Narrow Light';
    src: url('/assets/fonts/GothamNarrow/GothamNarrow-Light.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/GothamNarrow/GothamNarrow-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Narrow Black';
    src: url('/assets/fonts/GothamNarrow/GothamXNarrow-Black.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/GothamNarrow/GothamXNarrow-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/GothamNarrow/GothamXNarrow-Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamXNarrow-Black.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamXNarrow-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Narrow Bold';
    src: url('/assets/fonts/GothamNarrow/GothamNarrow-Bold.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/GothamNarrow/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('/assets/fonts/GothamNarrow/GothamNarrow-Medium.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/GothamNarrow/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/GothamNarrow/GothamNarrow-Medium.svg#GothamNarrow-Bold') format('svg'); /* Legacy iOS */
}
