{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    {{ form_start(form, { role: 'form', novalidate: 'novalidate' }) }}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Général
                        </h4>
                    </div>
                    <div class="box-body">
                        {{ form_widget(form) }}
                        <div>
                            <button class="btn btn-success" type="submit" name="btn_create_post" value="classic">
                                <i class="fas fa-save" aria-hidden="true"></i>
                                Classic Post
                            </button>
                            <button class="btn btn-success" type="submit" name="btn_create_post" value="interview">
                                <i class="fas fa-save" aria-hidden="true"></i>
                                Interview Post
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}