{# TODO Ajouter les liens vers les articles #}
<div class="jumbotron home-jumbotron">
    <div class="d-flex flex-column flex-md-row">
        <a href="#" class="post">
            {{ sonata_media(this.getPrimary.image, 'jumbotron_primary', {
                class: 'img-fluid',
                picture: {
                    '(max-width: 767px)': 'jumbotron_mobile',
                },
            }) }}

            <div class="shadow">
                <div class="container">
                    <div class="category">
                        {# TODO Affichage de la catégorie de l'article #}
                        CATEGORY
                    </div>
                    <div class="title">
                        {{ this.getPrimary.title }}
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="post">
            {{ sonata_media(this.getSecondary.image, 'jumbotron_secondary', {
                class: 'img-fluid',
                picture: {
                    '(max-width: 767px)': 'jumbotron_mobile',
                },
            }) }}
            <div class="shadow">
                <div class="container">
                    <div class="category">
                        {# TODO Affichage de la catégorie de l'article #}
                        CATEGORY
                    </div>
                    <div class="title">
                        {{ this.getSecondary.title }}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
