<div class="{{ ['card'] | merge(card_classes is defined ? card_classes : []) | join(' ') }}" {% block card_attributes %}{% endblock %}>
    {% if block("card_header") is defined %}
        <div class="card-header bg-green text-uppercase text-white">
            {{ block('card_header') }}
        </div>
    {% endif %}

    {% block card_content %}
        <div class="{{ ['card-body'] | merge(card_body_classes is defined ? card_body_classes : []) | join(' ') }}">
            {% block card_body %}
                <h1>{{ block("card_body_title") }}</h1>
                <hr />
                <div>{{ block("card_body_content") }}</div>
            {% endblock %}
        </div>
    {% endblock %}

    {% if block("card_footer") is defined %}
        <div class="{{ ['card-footer'] | merge(card_footer_classes is defined ? card_footer_classes : []) | join(' ') }}">
            {{ block('card_footer') }}
        </div>
    {% endif %}
</div>
