<div class="footer">
    <div class="jumbotron jumbotron-fluid">
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-left mb-3 mb-sm-0">
                    <div class="title">A propos</div>
                    &#9400; La Maison Jaune. 2019.<br/>
                    Webdesign: Benjamin grolleau<br/>
                    Développement: Gwennael Jean
                </div>
                <div class="col-12 col-sm-4 col-center mb-3 mb-sm-0">
                    <div class="title">Contact</div>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>
                            l.maisonjaune@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                            07.71.01.17.63
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-right mb-3 mb-sm-0">
                    <div class="title">Réseaux sociaux</div>
                    <div class="mb-1">
                        <a href="https://twitter.com/La_MaisonJaune">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                        </a>
                        <a href="https://www.facebook.com/L.MaisonJaune">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                        </a>
                        <a href="https://www.instagram.com/la_maison.jaune/">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-instagram fa-stack-1x"></i>
                        </span>
                        </a>
                    </div>
                    <div>
                        <a id="cookies-management" href="#">
                            Gestion des cookies
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>