.post-content.classic {

    h2 {
        font-size: 2rem;
        border-left: 5px solid $color-yellow;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 0.5rem;
    }

    div.quote {
        color: $gray-600;
        margin-bottom: 0.5rem;
    }

    p {
        text-align: justify;
        margin-bottom: 1rem;
    }

    img {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    [data-oembed-url] {
        margin-bottom: 1rem;
    }
}