.card.card-match {

    .tab {
        text-transform: uppercase;
        color: $gray-700;

        &.active {
            color: $black;
            border-bottom: 2px solid $black;
        }
    }

    .card-match-body {
        margin: 0 -20px;
    }

    .btn-previous-game {
        color: $black;
        border-bottom: 2px solid $black;
    }

    .previous-game {
        display: flex;
    }

    .next-game {
        display: none;
    }
}
